@model PriceCompare.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<div class="contentHolder">
    <div class="aboutHead">
        <h1>We are working on the idea to incorporate YOU with US!!</h1>
    </div>
    <div class="centralizedImage">
        <img src="../../Content/themes/base/images/baby_PC.jpg" alt="Frank" />
    </div>
</div>