
<div class="contentHolder">
    <div class="breadCrumb">
         @Html.ActionLink("Home", "Index", "Home")&nbsp;>>&nbsp;Wardrobe
    </div>
    <div class="contentMainDivCloth">
        <div class="productCatHeadingCloth">
            <span class="sr-h-left-sprite2-cloth"><span class="founditCloth"></span>The Sorted Wardrobe Collection for MEN and WOMEN!</span>
        </div>
        <div class="clothText">
            <p>10's of Website, hunderds of Brand and countless Style to choose from!! All sounds great, isn't it??  Umm.. may be NOT. Options are great
            but they pose a bigger problem of Confusion. Don't get confused, be smart and come to Pricepan's new initiative of SORTED WARDROBE. A One stop
            destination to all your fashion needs. Find only the best from vast clothing collection on Internet.</p>
        </div>
        <div class="clothBlock">
        <div class="clothLeft">
            <a href="/wardrobe/mens"><h2 style="text-align:center;font-size:1em;">MEN'S CLOTHING</h2></a><br />
            <div>
                <a href="/wardrobe/mens"><img src="/Content/Images/Featured/mens-pricepan.jpg" alt="mens clothing pricepan" /></a>
            </div>
        </div>
        <div class="clothLeft">
            <a href="/wardrobe/womens"><h2 style="text-align:center;font-size:1em;">WOMEN'S CLOTHING</h2></a><br />
            <div>
                <a href="/wardrobe/womens"><img src="/Content/Images/Featured/womens-pricepan.jpg" alt="womens clothing pricepan" /></a>
            </div>
        </div>
        <div class="clear"></div>
        </div>        
    </div>
    <div class="clear"></div>
    <br />
    <div style=""></div>
    <br />
</div>
