
<div class="contentHolder">
    <div class="breadCrumb">
        @Html.ActionLink("Home", "Index", "Home") &nbsp;>>&nbsp;@Html.ActionLink("Wardrobe", "Index", "wardrobe")&nbsp;>>&nbsp;Clothing for Men
    </div>
    <h1 style="font-size:1.2em;">Sorted Wardrobe Collection for Him</h1>   
    <div class="contentMainDiv">
        <div class="leftDiv">
            <div id="leftList">
                <div class="leftListTitle">
                    <h3>Casual Wear</h3>
                </div>
                <div class="leftListItem">
                    <ul>
                        <li><a href="/wardrobe/mens/jeans">Jeans</a></li>
                        <li><a href="/wardrobe/mens/v-neck-tshirts">V-Neck</a></li>
                        <li><a href="/wardrobe/mens/casual-shirts">Casual Shirts</a></li>
                        <li><a href="/wardrobe/mens/polo-tshirts">Polos</a></li>
                    </ul>
                </div>
            </div>
            <div id="leftList">
                <div class="leftListTitle">
                    <h3>Formal Wear</h3>
                </div>
                <div class="leftListItem">
                    <ul>
                        <li><a href="/wardrobe/mens/formal-shirts">Formal Shirts</a></li>
                        <li><a href="/wardrobe/mens/trousers">Formal Trousers</a></li>
                        <li><a href="/wardrobe/mens/blazers">Blazers and Suits</a></li>
                        <li><a href="/wardrobe/mens/jackets">Jackers</a></li>
                    </ul>
                </div>
            </div>
            <br />
            <div>
               <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
               <!-- Pricepan Left Side Ad -->
               <ins class="adsbygoogle"
                    style="display:inline-block;width:160px;height:600px"
                    data-ad-client="ca-pub-9061280781853186"
                    data-ad-slot="8788394715">
               </ins>
               <script>
                   (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
            </div>
        </div>
        <div class="rightDiv">
            <div class="clothCatHeading">
                    <span class="cloth-sr-h-left-sprite2"><span class="cloth-foundit"></span><span class="cloth-foundit"></span><span class="cloth-foundit"></span>Choose your fashion statement!!</span>
            </div>
            <div class="cloth-type-div" style="margin-top:30px;">
                <div class="float-left-cloth" style="padding-left:20px;">
                    <ul>
                        <li><a href="/wardrobe/mens/formal-shirts">Formal Shirts</a></li>
                        <li><a href="/wardrobe/mens/casual-shirts">Casual Shirts</a></li>
                        <li><a href="/wardrobe/mens/trousers">Formal Trousers</a></li>
                        <li><a href="/wardrobe/mens/blazers">Blazers and Suits</a></li>
                    </ul>
                </div>
                <div class="float-left-cloth">
                    <div style="float:left;width:45%;">
                        <ul>
                            <li><a href="/wardrobe/mens/round-neck-tshirts">Roundneck T-Shirts</a></li>
                            <li><a href="/wardrobe/mens/polo-tshirts">Polo T-Shirts</a></li>
                            <li><a href="/wardrobe/mens/v-neck-tshirts">V Neck T-Shirts</a></li>
                            <li><a href="/wardrobe/mens/sweatshirts">Sweatshirts</li>
                        </ul>
                    </div>
                    <div style="float:left;width:45%;margin-left:30px;">
                        <ul>
                            <li><a href="/wardrobe/mens/jeans">Jeans</li>
                            <li><a href="/wardrobe/mens/jackets">Jackets</li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="cloth-type-div">
                <div class="float-left-cloth">
                    <div><img src="/Content/Images/Featured/formals.jpg" alt="Formal wear men pricepan" /></div>
                </div>
                <div class="float-left-cloth">
                    <div><img src="/Content/Images/Featured/casuals.jpg" alt="Casual wear men pricepan" /></div>
                </div>
                <div class="clear"></div>
            </div>
            <br />
            <div><p style="font-size:.9em;margin:0px 20px 0px 20px;">A wide range of clothing for men sorted from popular online retailers across the internet. The mens wardrobe 
            contain items in the categories of t-shirts, shirts, jeans, trousers and winterwear. Clothing collection at pricepan is handpicked and 
            updated regularly to get the best of style for you. </p></div>
            <br />
            <div style="padding-bottom:50px;"><p style="font-size:.9em;margin:0px 20px 0px 20px;text-decoration:underline;">The best of collection at one place.</p></div>
            <div class="bottomAds">
                <div id="bottom-rectangle">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Pricepan Homepage Bottom -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9061280781853186"
     data-ad-slot="4358195117"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>