@{
    ViewBag.Title = "Pricepan | About Us | Price Compare India";
    ViewBag.Description = "Best prices for mobile, laptops, books and much more in India. Read news related to technology, apps and literature. Pricepan is only focused in bringing a better and safer online compare shopping experience for its visitores.";
}

<div class="contentHolder">
    <div>
    <div class="breadCrumb">
         @Html.ActionLink("Home", "Index", "Home")&nbsp;>>&nbsp;About Pricepan
    </div>
    <div class="aboutHead">
        <h1 style="text-align:center;">About Pricepan</h1>
    </div><br />
    <div>
       <img src="@Url.Content("~/Content/themes/base/images/about.gif")" alt="Pricepan" />
    </div>
    </div><br />
    <div>
    <div class="about">
        <h2>India's Only Real-Time Price Comparison Website</h2><br />
        <p>We do "One and Only" thing and that is to make your online shopping experience better and safer. Find mobile prices in india, laptop prices in india, books prices in india and much more just under one roof. We won't claim being the best online price comparison website in india but do take pride in being the 1st and only real-time price comparison engine. </p><br />
        <p>Pricepan acts as a consultant for people in india to make their online purchases every month. We use our real-time search technology and work very hard to ensure that your online shopping is worthy of every penny spend. The approach at pricepan is totally unbiased and transparent with no seeming edge to any retailer. We are totally focused in bringing you the best possible experience</p><br /><br />
    </div>
    <div style="margin-left:30px;" class="about">
        <h2>Technical insight into Pricepan</h2><br />
        <p>It's all pretty simple and we believe you have the right to know how we fetch the information to cater your needs. At pricepan, everything is just the way it seems. The "REAL-TIME" word sits at the heart of Pricepan, the price comparison engine for indian online retailers.</p><br /><br />
        <p><em style="text-decoration:underline;">Pricepan functioning in a nutshell:</em> When you click on a product listed at pricepan, related URLs featuring the product are sorted from the database. Then a script is run on each URL to download that page and extract the price from it. Once the price is extracted from the related retailers, the page is rendered to the user i.e. YOU. </p><br /><br />
    </div>
    <div class="clear"></div>
    </div>
    <div style="font-size:0.8em">
        <p><em><strong>What will you find at Pricepan: </strong></em>&nbsp;Mobile prices in India, Laptops prices in India, books prices in India, Electronics prices, along with other price comparison in India. Not just that, we also list latest technology news in the field of mobiles and computing. The content just doen't end here, we also provide latest app launches and app updates for ios, windows phone and android platform.</p>
    </div>
    <div style="font-size:0.8em"><br />
        <p><em><strong>Which Products are listed on Pricepan: </strong></em>&nbsp;We have taken a constrained approach in listing and comparing product prices on Pricepan. The basic reason behind such an approach is 
        QUALITY rather than QUANTITY. We don't list products which are aren't well standing in customer trusts and after sales service report. We never add products to our database just for the sake of it. Therefore, 
        You will only find Quality and trusted products price comparison on our site.</p>
    </div>
    <div style="font-size:0.8em"><br />
        <p><em><strong>Who are the resellers on Pricepan: </strong></em>&nbsp;With the increase in online shopping, new retailers and ecommerce websites emerge on daily basis. Shopping has really become EASY but it's not completely SAFE. There are countless websites that 
        are after your money and it's hard to stay alerted. To ensure EASY and SAFER shopping experience, we list retailers with proven track record of fair transactions and customers trust. For this very reason, our resellers list is compact but completely safe. The list is dynamic 
        and we will keep adding new retailers after they have gained sufficent traction and customers faith.</p>
    </div>
    <div style="font-size:0.8em"><br />
        <p><em><strong>Offers Field information: </strong></em>&nbsp;"Offers" information on the product page is dependent on the respective seller's product page. We list offers that are visible on the day of product addition so the accuracy might not be 100% as websites changes such information on regular basis. Inconvenience 
        regretted in such cases.</p>
    </div>
    <div style="font-size:0.8em"><br />
        <p><em>NOTE :- </em> We are not promoting any retailers. All their ratings as of now are "BASE RATINGS" and not a indication of "Pricepan" or "Users" perception. Pricepan has carefully selected the retailers to feature in its index and therefore you won't see any local and new startups. Retailers are added following a criteria and the tally will be regularly updated. </p>
    </div><br /><br />
    <div style="font-size:0.7em">
        <p>Have something to say or ask : <em style="text-decoration:underline;">contact@pricepan.com</em></p>
    </div><br /><br />
</div>
