@{
    ViewBag.Title = "Pricepan.com | Terms of Use - How to use this website and its offerings";
}

<div id="contentHolder">
    <div class="breadCrumb">
         @Html.ActionLink("Home", "Index", "Home")&nbsp;>>&nbsp;Terms and Conditions
    </div><br />
    <div id="termsHeader">
        <h1>Pricepan Terms of Use</h1>
        <h4><em>Effective Since June 20, 2014</em></h4>
    </div>
    <strong style="font-style:0.9em;">IMPORTANT:</strong><br /><br />
    <p style="text-align:justify;font-size:.8em;">
        Please read these Terms of Use (the "Agreement") carefully. This Agreement governs your use of websites owned or operated by Pricepan, 
        Inc. (“Pricepan”) or permutations of those sites, including certain co-branded versions of those sites with third parties that refer 
        to these Terms of Use by a direct hyperlink (collectively, the "Websites") and the services provided by Pricepan through or in 
        connection with the Websites (collectively, the "Service"). Each time you use the Service, you acknowledge that you have read and 
        agree to be bound by the Agreement. If you do not agree to be bound by the Agreement, you may not use the Service.
    </p>
    <div id="termsContent">
        <ul>
            <li>
                <p>
                    <b>PRICEPAN IS ONLY A VENUE.</b>
                    The Websites act as online marketplaces for you to find and transact with merchants or providers of services that advertise 
                    and/or sell products or services on the Websites. Pricepan is not a service provider or seller and does not sell any products 
                    or provide any of the services advertised on the Websites (other than the Service) and is not a party to any transaction 
                    you may make with a merchant or service provider.  Pricepan is not acting as an agent of sale or an agent of any seller or 
                    provider of products or services.  Pricepan does not have any responsibility for, or liability related to, any product or 
                    service listed on the Websites.  Except for products purchased from a merchant through a Pricepan Store, you should direct 
                    any questions, complaints or claims related to any product or service to the appropriate seller or provider.  
                    Pricepan does not endorse, warrant or guarantee the products or services of any seller, lender or broker.
                </p> 
                <p>
                    Pricepan does not warrant or guarantee in any way that prices, shipping costs, taxes, products or descriptions, or any other 
                    content on the Websites is accurate, complete, reliable, current or error-free. Site content is provided for informational 
                    purposes only and Pricepan shall have no liability for inaccuracy or incompleteness in product or service content, user ratings 
                    or commentary, or other content on the Website. If there is any discrepancy between information on the Websites and information 
                    on a merchant’s or service provider’s site, the information on the merchant’s or service provider’s site shall govern. 
                </p> 
                <p>
                    With respect to educational offerings advertised on the Websites, Pricepan is not responsible for and does not assist with any 
                    applications of any sort and does not control or guarantee admission or availability or eligibility for financial aid or other 
                    funding.
                </p> 
                <p>
                    Pricepan is not liable for any delay, inaccuracy, error or omission with respect to information or the transmission or delivery 
                    of all or any part thereof, for any damage arising therefrom or occasioned thereby, or for the results obtained from the use 
                    of the information. Pricepan is not liable for any act or omission of any merchant or service provider on the Website. You 
                    assume the entire risk as to the accuracy, adequacy, completeness, currency, validity and quality of any information relating 
                    to the Services.</p> 
                <p>
                    Pricepan may, in its sole discretion, alter, modify, amend, update, or otherwise change, any information 
                    displayed on the Websites without notice and for any reason, including but not limited to effecting compliance with its 
                    then-existing policies.
                </p>
            </li>
            <li>
                <p>
                    <strong>LINKS.</strong> 
                    Pricepan and its Partners may provide links to external websites or resources (which are not the Websites) for your 
                    convenience and reference only. Pricepan and its Partners do not control or endorse and are not responsible for the 
                    availability of or your experience on these external websites or resources or for any content, advertising, products, 
                    or other materials on or available from such external websites or resources. Your use of and dealings with the owners or 
                    operators of these external websites or resources are at your own risk.  Once you link to an external website, you 
                    understand that you should read and understand that website’s privacy statement and other conditions of use. 
                    You cannot make any claim against Pricepan (or its subsidiaries, affiliates, Partners or service providers, or each of 
                    their respective directors, officers, agents, and employees) arising out of your use of external websites or resources. 
                </p>
            </li>
            <li>
                <p>
                    <strong>OWNERSHIP.</strong> 
                    All of the material included on the Websites or provided in the Service, including but not limited to trademarks, text, 
                    graphics, logos, service marks, and copyrights (collectively, the "Content"), is the property of Pricepan and other parties. 
                    Indian and international copyright laws protects all Content available on the Websites. Your use of the Service and the Content 
                    does not transfer to you any ownership or other rights in the Service or the Content. You may download Content displayed on 
                    the Websites for your personal, noncommercial use only, provided you also retain all copyright and other proprietary notices 
                    contained on the Content. You may not use, modify, copy, distribute, transmit, display, publish, sell, license, or create 
                    derivative works using any of the Content for commercial or public purposes.
                    <br /><br />
                </p>
            </li>
        </ul>
    </div>
</div>