@{
    ViewBag.Title = "File or Page not found Error | Pricepan";
}

<div class="contentHolder">
    <div id="searchHeading">Oops! Something went wrong.<span> May be the product or page you are looking for has been removed.</span></div>
    <img src="@Url.Content("~/Content/themes/base/images/404-Pingu.jpg")" alt="404" />
</div>