@{
    ViewBag.Title = "UpdateSome";
}
<div class="contentHolder">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="adminHeading">Enter Product range for updation</div>
        <table width="99%" class="template">
                        <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
                    <tr>
                        <td class="editor-label">
                        
                        </td>
                        <td class="editor-field">
                        
                        </td>
                    </tr>
                    <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
                    <tr>
                        <td class="editor-label">
                       
                        </td>
                        <td class="editor-field">
                       
                        </td>
                    </tr>
                    <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
                </table>
    }
</div>


